@page
@model MyProduct.DescriptionModel
@{
    ViewData["Title"] = "Description";
}

    <html>
    <head>
        <link rel="stylesheet" href="~/css/Description.css">
    </head>

    <body>
        <h1>Flask Tie</h1>
        <img src="~/pics/flasktie2.jpg" width="400" height="300">
        <p>From tiny buckle flasks to hidden drinking pouches, there are many ways to sneak a drink in the office.  The best ones, though, are always those that you can wear out in the open without inviting any suspicion.  The Flask Tie is one such contraption.</p>
        <a>Styled to look like one of your cheap neckties (c’mon, man, you didn’t expect Louis Vuitton or some other swanky thing, right?), it comes with a hidden pouch inside the fabric where you can hold your favorite NSFW beverage of choice.  That way, you can walk around wearing a full load of alcohol around your neck, ready to loosen you up any time you feel the stresses of the day taking over.</a>
        <h2>You can pick up the Flask Tie for $30.</h2>
        <a href="http://www.urbanoutfitters.com/urban/catalog/productdetail.jsp?id=28062917">Check It Out</a>
        <br><br>
        <button onclick="window.location.href ='/Index';">Back</button>
    </body>
    </html>

